<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>app</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <div class = "page-header">
      <h1>CAMT
      <small>Software Component Based Software Development</small>
      </h1>
    </div>

    <div class="navbar-default" ng-controller="languageController">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ng-class="{'active':currentLocale=='en'}"><a href="" ng-click="changeLanguage('en')">EN</a> </li>
            <li ng-class="{'active':currentLocale=='fr'}"><a href="" ng-click="changeLanguage('fr')">FR</a> </li>
          </ul>
        </div>
      </div>
    </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <!--Fixed left nav column -->
            <div ng-include src="'app/component/leftnav.html'"></div>
          </div>
          <div class="col-md-10">
            <ng-view>Loading...</ng-view>
          </div>
        </div>
      </div>

   <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>

  </body>
</html>
